<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let clase of clases" detail [routerLink]="['/', 'asistencias', clase.id, 'tabs', 'historial', clase.id]">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="5">
            <ion-label>
              <h2>{{ clase.nombre }}</h2>
            </ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-label>
              <h2>{{ clase.grupo.nombre }}</h2>
            </ion-label>
          </ion-col>
          <!-- <ion-col size="2">
            <ion-button color="primary" [routerLink]="['/', 'asistencias', clase.id]">
              <ion-icon name="arrow-round-forward" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>