<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Historial de Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentoCambiado($event)">
    <ion-segment-button value="t1" checked>Periodo 1</ion-segment-button>
    <ion-segment-button value="t2" [disabled]="segundoTrimestre.inicio > hoyString">Periodo 2</ion-segment-button>
    <ion-segment-button value="t3" [disabled]="tercerTrimestre.inicio > hoyString">Periodo 3</ion-segment-button>
    <ion-segment-button value="general">General</ion-segment-button>
  </ion-segment>

  <div class="x-scroll">
    <table class="tablita">
      <tr class="borde">
        <th>No.</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <ng-container *ngIf="alumnos && alumnos.length > 0">
          <th *ngFor="let asistencia of asistenciasFiltradas[0]" class="fecha" text-nowrap>
            <div>{{ asistencia.fecha }}</div>
          </th>
        </ng-container>
      </tr>
      <tr *ngFor="let alumno of alumnos; let i = index"
        [ngClass]="{'inactive': !alumno.activo, 'fila-par': i % 2 === 0, 'borde-abajo': i === alumnos.length - 1}">
        <td>{{ i + 1 }}</td>
        <td text-nowrap>{{ alumno.nombre }}</td>
        <td text-nowrap>{{ alumno.apellido }}</td>
        <td *ngFor="let asistencia of asistenciasFiltradas[i]" [class]="EstadoAsistencia[asistencia.estado]"
          class="asistencia" text-center>
          <span>{{ EstadoAsistencia[asistencia.estado].substr(0,1) }}</span>
        </td>
      </tr>
    </table>
  </div>
</ion-content>