<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="grupoId" menu="m1" defaultHref="/grupos"></ion-back-button>
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Clases</ion-title>
    <ion-buttons slot="end" (click)="abrirModalClase()">
      <ion-button>
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid margin-top *ngIf="buscando">
    <ion-row margin-top>
      <ion-col text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!buscando">
    <ion-item *ngFor="let clase of clases">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="5">
            <ion-label>
              <h2>{{ clase?.nombre }}</h2>
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>
              <h2>{{ clase?.grupo?.nombre }}</h2>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-button color="primary">
              <ion-icon name="arrow-round-forward" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="secondary" (click)="abrirModalClase(clase)">
              <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="eliminarClase(clase)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>