<ion-header>
  <ion-toolbar>
    <ion-title>Nueva clase</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid margin-top *ngIf="buscando">
    <ion-row margin-top>
      <ion-col text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form *ngIf="!buscando" #claseForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="9">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="nombre" name="nombre" required #nombreCtrl="ngModel"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="3">
          <ion-item>
            <ion-label position="floating">Grupo</ion-label>
            <ion-select [(ngModel)]="grupo.id" name="grupo" required #grupoCtrl="ngModel">
              <ion-select-option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row align-items-center *ngFor="let dia of dias; let i = index">
        <ion-col size="6" size-md="7">
          <ion-item>
            <ion-label position="floating">Días</ion-label>
            <ion-select cancelText="Cancelar" okText="Aceptar" multiple="true" [(ngModel)]="dia.dias" [name]="'dia' + i"
              required>
              <ion-select-option *ngFor="let diaSemana of diasSemana; let j = index" [value]="j + 1">
                {{ diaSemana | titlecase }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6" size-md="5">
          <ion-item>
            <ion-label position="floating">Hora</ion-label>
            <ion-select cancelText="Cancelar" okText="Aceptar" [(ngModel)]="dia.hora" [name]="'hora' + i" required>
              <ion-select-option *ngFor="let hora of HorasClase; let j = index" [value]="j + 1">
                {{ hora + ' - ' + hora + ':50' }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dias.length < 5">
        <ion-col size="auto" *ngIf="dias.length > 1">
          <ion-button fill="clear" (click)="removerDia()">Remover día</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" (click)="agregarDia()">Agregar día</ion-button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-end>
        <ion-col size="auto">
          <ion-button *ngIf="!claseId" margin-vertical color="primary" (click)="agregarClase(claseForm)"
            [disabled]="claseForm.invalid">
            Agregar
          </ion-button>
          <ion-button *ngIf="claseId" margin-vertical color="primary" (click)="editarClase(claseForm)"
            [disabled]="claseForm.invalid">
            Editar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>