<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pase-lista">
      <ion-label>Evaluación continua</ion-label>
      <ion-icon name="checkbox-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="rasgos">
      <ion-label>Rasgos</ion-label>
      <ion-icon name="clipboard"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="historial">
      <ion-label>Historial</ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="estadistico">
      <ion-label>Estadístico</ion-label>
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="resumen-asistencias">
      <ion-label>Resumen Asistencias</ion-label>
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="graficas">
      <ion-label>Gráficas</ion-label>
      <ion-icon name="stats"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>