<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="historial/{{ claseId }}">
      <ion-label>Historial</ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="estadistico/{{ claseId }}">
      <ion-label>Estadístico</ion-label>
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="graficas/{{ claseId }}">
      <ion-label>Gráficas</ion-label>
      <ion-icon name="stats"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>